<!DOCTYPE html>
<html>
  <head>
    <title>News Story Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <style>
	@media (min-width: 600px) {


		#news-template {
			width: 80vw;
			margin: auto;
			padding-top: 2vh;
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			line-height: 1.2;

		}

		#image {
			height: auto;
			width: 80vw;
		}

		#title {
			font-size: 300%;
		}

		#maincontent {
			line-height: 1.7;
			font-size: 140%;
		}

	}
	  
    </style>
  </head>
  <body>
    <div id="news-template" v-cloak>
      
      <!-- Main Story -->
      <h1 id="title">{{ story.title }}</h1>
      <h3 id="subtitle">{{ story.subtitle }}</h3>
	  <h3 id="date">{{ story.date }}</h3>
      <span id="tag" v-for="tag in story.tags">{{ tag }}</span>
		
      <img  id="image" v-bind:src="story.image.url">
      {{ story.image.caption }}
		 <a  v-bind:href="story.source.url">{{ story.source.name }}</a>
		
	<div id="maincontent">
      <span id="storysnippet" v-html="story.teaser"></span>
      <span id="storycontent" v-html="story.content"></span>
	</div>
     

      <!-- Related Stories-->
      <ul>
        <li v-for="relatedStory in relatedStories">
          <div v-on:click="load(relatedStory)">
            {{ relatedStory.title }}
            <img v-bind:src="relatedStory.image.url">
          </div>
        </li>
      </ul>

      <!-- Useful debugging info, you can comment this section out when you don't need it. -->
<!--
	  <pre>The story object: {{ story | json }}</pre>
      <pre>The relatedStories array: {{ relatedStories | json }}</pre>
-->

    </div>

    <!-- Scripts here are what load the Vue library, and the actual story content. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script>
  </body>
</html>
